.navbar-toggler-icon {
    background-color: white;
  }
.navbar-toggler-icon {
    font-size: 1.5rem;
    line-height: 1.2;
    height: 1.5rem;
    width: 1.5rem;
}
.navbar-toggler {
    display: flex;
    align-items: center;
}
.las.la-user {
    font-size: 24px;
}
  
html, body {
    height: 100%;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* Set height to 100% to cover the full page */
    height: 100%;
}
